<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}{% unless page.url == "/" %} · naren{% endunless %}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false}
    ]});"></script>
</head>
<body class="layout-{{ page.layout }} {{ page.body_class }}">
  <nav>
    <a href="/">home</a>·
    <a href="/blog">blog</a>·
    <a href="/quotes">quotes</a>
    <!-- <a href="/questions">questions</a> -->
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
